<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CoordiNation</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body class="">

    <nav class="navbar is-dark text is-dark border-bottom border-4 border-light has-background-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-end"></div>
<div class="buttons">
          <button onclick="signUp()" id ="signup-btn" class="button is-danger has-text-dark border border-4 border-light">
            <strong>Sign up</strong>
          </button>
          
          <a class="button is-black border border-4 border-light">
            <strong onclick="login()" class="has-text-success">Log in</strong>
          </a>

  <main class="container container-fluid is-half is-offset-one-quarter *y4">
    Welcome to CoordiNation! Your home for user-friendly task management assistance! To get started, Sign Up or Log In!
  </main>
  <footer>
      
  </footer>
</body>

</html>