<div class="box has-background-dark border border-4 border-dark columns mt-3 p-2">
  

  <form class="form createtask-form">

  <div class="column form-group">
  
  <label for="taskName" class="box has-background-black has-text-danger">Task Title:</label>
   <input id="taskName"class="has-text-dark" type="input" placeholder="Task Title" value=""></input>
  
  <label for="taskStatus" class="box has-background-black has-text-danger">Status :</label>

  <input id="taskStatus" class="has-text-dark" type="input" placeholder="Task Status" value=""></input>
    
    <div class="box is-centered has-background-black has-text-light p-3">
      
      <label for="taskDescription" class="box is centered has-background-success has-text-dark has-text-centered ">Description:</label>
    
    <div class="box has-background-black">
      
      <div class="box has-background-dark has-text-light">
        
        <input id="taskDescription" class="has-text-dark" type="input" placeholder="Task Description" value=""></input>
      
      </div>
    
    </div>
    
    </div>
  
  </div>

              <div class="column form-group">
                
                <label for="priority" class="box has-background-black has-text-warning">Priortity :</label>
                <input id="priority" class="has-text-dark" type="input" placeholder="Task Priortity" value=""></input>
                
                <label class="box has-background-black has-text-warning">Due By :</label>
                <input  id="dateDue" class="has-text-dark" type="input" placeholder="Task Priortity" value=""></input>
              
              <div class="box submit-box has-background-black">
                
                <a id="submitBtn" class="button is-success has-text-dark  border border-dark border-5 w-50 h-50 ">Submit</a>
              
              </div>
              
              </div>

</div>
    
  </form>