<div class="box has-background-dark border border-4 border-dark columns mt-3 p-2">
  
  <div class="column">
  
  <h5 class="box has-background-black has-text-danger">Task Title: <input class="has-text-dark"></input></h5>
  
  <h5 class="box has-background-black has-text-danger">Status : <input class="has-text-dark"></input></h5>
    
    <div class="box is-centered has-background-black has-text-light p-3">
      
      <h6 class="box is centered has-background-success has-text-dark has-text-centered "><strong>Description:</strong></h6>
    
    <div class="box has-background-black">
      
      <div class="box has-background-dark has-text-light">
        
        <input class="has-text-dark"></input>
      
      </div>
    
    </div>
    
    </div>
  
  </div>

              <div class="column">
                
                <h5 class="box has-background-black has-text-warning">Priortity : <input class="has-text-dark"></input></h5>
                
                <h5 class="box has-background-black has-text-warning">Due By : <input class="has-text-dark"></input></h5>
              
              <div class="box has-background-black">
                
                <a href="/" class="button is-success has-text-dark  border border-dark border-5 w-50 h-50 ">Submit</a>
              
              </div>
              
              </div>

</div>
    