<div class="box has-background-dark">

<figure class="image 16by9">
  <img class="is-rounded" src="https://i.imgur.com/slJmhir.jpg">
</figure>

  <main class="box has-background-black is-vcentered has-text-light has-text-centered mt-6 border border-4 border-light">
    <h1 class="has-text-success">Welcome to the CoordiNation Station!</h1>
     <h5 class="has-text-danger ">Your home for user-friendly task management assistance! To get started, Sign Up or Log In!</h5>
  </main>


  {{#if isLogged_in }}

<div class=" buttons is-centered">
      <button class="button is-black border border-4 border-dark mr-3" id="homeBtn"><strong
          class="has-text-success">Dashboard</strong></button>
      <button class="logout-btn is-danger border border-4 border-dark" id="logoutBtn"><strong class="has-text-dark">Logout</strong></button>
</div>



  {{else}}
  <div class="buttons is-centered">
    <button id ="signupBtn" class="button is-success has-text-dark border border-4 border-dark" id="signupBtn">
      <strong>Sign up</strong>
    </button>
    
    <a class="button is-black border border-4 border-dark is-vcentered">
      <strongclass="has-text-success" id="loginBtn">Log in</strong>
    </a>
    </div>



    {{/if}}


    </div>