<a href="default.asp"><img src="../assets/multiethnic-group-people-society-multicultural-community-portrait-citizens-young-adult-elder-aging-african-asian-ladies-153736278.jpg" alt="Photo of team members" style="width:42px;height:42px;"></a>

  <main class="card-body is-vcentered has-text-light">
    Welcome to CoordiNation! Your home for user-friendly task management assistance! To get started, Sign Up or Log In!
  </main>
  <div class="buttons">
    <button onclick="signUp()" id ="signup-btn" class="button is-danger has-text-dark border border-4 border-light">
      <strong>Sign up</strong>
    </button>
    
    <a class="button is-black border border-4 border-light is-vcentered">
      <strong onclick="login()" class="has-text-success">Log in</strong>
    </a>