
<div class="vh-100 ">

<h2 class="has-text-white">Login</h2>

<form class="form login-form mx-auto align-middle">
  <div class="form-group">
    <label for="email-login" class="has-text-white">Email:</label>
    <input class="form-input w-50" type="text" id="email-login" placeholder="Email" />
  </div>
  <div class="form-groupmx-auto">
    <label for="password-login" class="has-text-white">Password:</label>
    <input class="form-input w-50 " type="password" id="password-login" placeholder="Password" />
  </div>
  <div class="form-group">
    <button class="button is-primary mt-6" type="submit"> <strong>Login</strong></button>
  </div>
</form>

<script src="/js/login.js"></script>


</div>