<div class="vh-100 px-auto mx-auto">

  <div class="p-6">

    <div class="box has-background-danger border border-4 border-dark w-50 m-auto px-auto">
      <h1 href="/login" class="has-text-centered mb-6"><strong class="has-text-dark">Login</strong></h1>
    </div>

    <div class="box has-background-black content is-centered mx-auto w-50 content mt-6 p-6 ">

      <form class="form login-form mx-6">
        <div class="form-group ">
          <label for="email-login" class="has-text-white">Email:</label>
          <input class="form-input w-75" type="text" id="email-login" placeholder="Email" />
        </div>

        <div class="form-group mx-auto">
          <label for="password-login" class="has-text-white">Password:</label>
          <input class="form-input w-75 " type="password" id="password-login" placeholder="Password" />
        </div>

        <div class="form-group">
          <button class="button is-primary mt-6" type="submit"> <strong>Login</strong></button>
        </div>


      </form>

    </div>

    <script src="/js/login.js"></script>


  </div>

</div>